.gallery-wrapper__filters {
    display: flex;
    font-size: 20px;
    height: 50px;
    justify-content: space-between;
    border: 2px solid $mainColor;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 10px;
    div {
        padding: 3px 5px;
    }
}

.gallery-wrapper__gallery {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    .gallery__icon-wrapper {
        height: 200px;
        width: 200px;
        object-fit: contain;
        @include centered;
        .gallery__skin-icon,
        .gallery__field-icon {
            height: 150px;
            max-width: 150px;
            background-color: white;
        }
    }
}

.selected {
    background-color: green;
}

.obtained {
    border: 3px solid green;
}

.current-filter {
    background-color: $mainColor;
    color: white;
    border-radius: 5px;
}
