.gallery-wrapper__filters {
    display: flex;
    font-size: 20px;
    margin: 20px;
    justify-content: space-between;
}

.gallery-wrapper__gallery {
    display: flex;
    flex-wrap: wrap;
    .gallery__icon-wrapper {
        height: 200px;
        width: 200px;
        object-fit: contain;
        @include centered;
        .gallery__skin-icon,
        .gallery__field-icon {
            height: 150px;
            max-width: 150px;
            background-color: white;
        }
    }
}

.selected {
    background-color: green;
}

.obtained {
    border: 3px solid green;
}
