@mixin text($family, $style, $weight, $size, $color, $line) {
    font-family: $family;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    color: $color;
    line-height: $line;
}

@mixin centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin title {
    color: $subColor;
    border: 1px solid $subColor;
    border-radius: 5px;
}
