.game__container {
    width: 100%;
    display: flex;
    padding: 150px 0px;
    gap: 50px;
    .field-wrapper {
        height: 350px;
        width: 350px;
    }
    .battle__our-status,
    .battle__enemy-status {
        display: flex;
        flex-direction: column;
        font-size: 25px;
    }
}
